{% load math_filters %}
{% load humanize %}
<template>
  <p id="last-updated-text" hx-swap-oob="true" class="text-sm text-base-content/60">
    마지막 갱신: {{ last_updated }}
  </p>
</template>

<div class="grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
  <div class="card bg-base-100 shadow">
      <div class="card-body gap-2">
          <div class="flex items-start justify-between gap-2 text-sm">
              <div>
                  <p class="text-base-content/80 font-medium">
                      총 보유 현금
                  </p>
                  <div class="mt-3 flex items-center gap-2">
                      <p class="inline text-2xl font-semibold">
                          {{ cash_balance|floatformat:0|intcomma }}
                      </p>
                      <div
                          class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                          <span
                              class="iconify lucide--arrow-up size-3.5"></span>
                          10.8%
                      </div>
                  </div>
              </div>
              <div
                  class="bg-base-200 rounded-box flex items-center p-2">
                  <span
                      class="iconify lucide--circle-dollar-sign size-5"></span>
              </div>
          </div>
          <p class="text-base-content/60 text-sm">
              vs.
              <span class="mx-1">$494.16</span>
              last period
          </p>
      </div>
  </div>
  <div class="card bg-base-100 shadow">
      <div class="card-body gap-2">
          <div class="flex items-start justify-between gap-2 text-sm">
              <div>
                  <p class="text-base-content/80 font-medium">
                      총 투자금
                  </p>
                  <div class="mt-3 flex items-center gap-2">
                      <p class="inline text-2xl font-semibold">
                          {{ total_buy_price|floatformat:0|intcomma }}
                      </p>
                      <div
                          class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                          <span
                              class="iconify lucide--arrow-up size-3.5"></span>
                          10.8%
                      </div>
                  </div>
              </div>
              <div
                  class="bg-base-200 rounded-box flex items-center p-2">
                  <span
                      class="iconify lucide--circle-dollar-sign size-5"></span>
              </div>
          </div>
          <p class="text-base-content/60 text-sm">
              vs.
              <span class="mx-1">$494.16</span>
              last period
          </p>
      </div>
  </div>
  <div class="card bg-base-100 shadow">
      <div class="card-body gap-2">
          <div class="flex items-start justify-between gap-2 text-sm">
              <div>
                  <p class="text-base-content/80 font-medium">
                      총 평가금
                  </p>
                  <div class="mt-3 flex items-center gap-2">
                      <p class="inline text-2xl font-semibold">
                          {{ total_valuation|floatformat:0|intcomma }}
                      </p>
                      <div
                          class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                          <span
                              class="iconify lucide--arrow-up size-3.5"></span>
                          21.2%
                      </div>
                  </div>
              </div>
              <div
                  class="bg-base-200 rounded-box flex items-center p-2">
                  <span class="iconify lucide--package size-5"></span>
              </div>
          </div>
          <p class="text-base-content/60 text-sm">
              vs.
              <span class="mx-1">3845</span>
              last period
          </p>
      </div>
  </div>
  <div class="card bg-base-100 shadow">
      <div class="card-body gap-2">
          <div class="flex items-start justify-between gap-2 text-sm">
              <div>
                  <p class="text-base-content/80 font-medium">
                      총 수익
                  </p>
                  <div class="mt-3 flex items-center gap-2">
                      <p class="inline text-2xl font-semibold">
                          {{ profit }}
                      </p>
                      <div
                          class="badge badge-soft badge-error badge-sm gap-0.5 px-1 font-medium">
                          <span
                              class="iconify lucide--arrow-down size-3.5"></span>
                          -6.8%
                      </div>
                  </div>
              </div>
              <div
                  class="bg-base-200 rounded-box flex items-center p-2">
                  <span class="iconify lucide--users size-5"></span>
              </div>
          </div>
          <p class="text-base-content/60 text-sm">
              vs.
              <span class="mx-1">2448</span>
              last period
          </p>
      </div>
  </div>
  <div class="card bg-base-100 shadow">
      <div class="card-body gap-2">
          <div class="flex items-start justify-between gap-2 text-sm">
              <div>
                  <p class="text-base-content/80 font-medium">
                      총 수익률
                  </p>
                  <div class="mt-3 flex items-center gap-2">
                      <p class="inline text-2xl font-semibold">
                          {{ profit_rate }}%
                      </p>
                      <div
                          class="badge badge-soft badge-success badge-sm gap-0.5 px-1 font-medium">
                          <span
                              class="iconify lucide--arrow-up size-3.5"></span>
                          8.5%
                      </div>
                  </div>
              </div>
              <div
                  class="bg-base-200 rounded-box flex items-center p-2">
                  <span class="iconify lucide--eraser size-5"></span>
              </div>
          </div>
          <p class="text-base-content/60 text-sm">
              vs.
              <span class="mx-1">$98.14</span>
              last period
          </p>
      </div>
  </div>
</div>
