{% load static %}

{% load i18n %}
<meta charset="UTF-8" />
<meta name="author" content="Hyunwoo Kim" />
<meta
  name="keywords"
  content="{% blocktrans %}갓코, gotchacoins, 코인 자산, 코인 포트폴리오, 암호화폐 대시보드, 비트코인 분석, 이더리움 추적, 웹3 자산관리, 가상자산 통합관리, 실시간 코인 시세, 업비트 연동, 빗썸 연동, 김프 확인, 디파이 자산, NFT 추적, 디지털 자산 분석{% endblocktrans %}"
/>
<meta
  name="description"
  content="{% blocktrans %}갓코(GotchaCoins)는 여러 거래소에 흩어진 암호화폐 자산을 한눈에 모아 분석할 수 있는 통합 포트폴리오 대시보드입니다.{% endblocktrans %}"
/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  rel="shortcut icon"
  href="{% static 'images/favicon-dark.png' %}"
  media="(prefers-color-scheme: dark)"
/>
<link
  rel="shortcut icon"
  href="{% static 'images/favicon-light.png' %}"
  media="(prefers-color-scheme: light)"
/>

<link
  rel="stylesheet"
  href="{% if debug %}{% static 'css/app.css' %}{% else %}{% static 'css/app.min.css' %}{% endif %}"
/>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
  try {
    const localStorageItem = localStorage.getItem("__GOTCHACOINS_CONFIG__");
    if (localStorageItem) {
      const theme = JSON.parse(localStorageItem).theme;
      if (theme !== "system") {
        document.documentElement.setAttribute("data-theme", theme);
      }
    }
  } catch (err) {
    console.log(err);
  }
</script>
