{% load static %}
{% load i18n %}

<input
    type="checkbox"
    id="layout-sidebar-toggle-trigger"
    class="hidden"
    aria-label="Toggle layout sidebar" />

<div id="layout-sidebar">
    <a class="flex min-h-16 items-center justify-center" href="{% url 'pages:home' %}">
        <img alt="logo-dark" class="hidden h-5.5 dark:inline" src="{% static 'images/logo/logo-dark.svg' %}" />
        <img alt="logo-light" class="h-5.5 dark:hidden" src="{% static 'images/logo/logo-light.svg' %}" />
    </a>
    <div class="relative min-h-0 grow">
        <div data-simplebar class="size-full">
            <div id="sidebar-menu">
                <!--대시보드 start-->
                <p class="sidebar-menu-title">대시보드</p>
                <a class="sidebar-menu-item" href="{% url 'dashboard:index' %}">
                  <span class="iconify lucide--layout-dashboard size-4"></span>
                  전체 요약
                </a>
                <a class="sidebar-menu-item" href="{% url 'dashboard:insight' %}">
                  <span class="iconify lucide--activity-square size-4"></span>
                  자산 분포 / 시장 지표
                </a>
                <!--대시보드 end-->

                <!--포트폴리오 start-->
                <p class="sidebar-menu-title">포트폴리오</p>
                <div class="group collapse">
                  <input
                      aria-label="Sidemenu item trigger"
                      class="peer"
                      type="checkbox"
                      name="sidebar-menu-parent-item" />
                  <div class="collapse-title">
                      <span class="iconify lucide--monitor-dot size-4"></span>
                      <span class="grow">거래소</span>
                      <span class="iconify lucide--chevron-right arrow-icon size-3.5"></span>
                  </div>
                  <div class="collapse-content">
                      {% if is_exchange_connected %}
                        <a class="sidebar-menu-item" href="{% url 'dashboard:portfolio' 'upbit' %}">
                          <img
                            class="size-5"
                            alt="업비트"
                            src="{% static 'images/exchange-logo/upbit.svg' %}"
                          />
                          <span class="grow">업비트</span>
                        </a>
                        <a class="sidebar-menu-item" href="{% url 'dashboard:portfolio' 'bithumb' %}">
                          <img
                            class="size-5"
                            alt="빗썸"
                            src="{% static 'images/exchange-logo/bithumb.svg' %}"
                          />
                          <span class="grow">빗썸</span>
                        </a>
                        <a class="sidebar-menu-item opacity-50 pointer-events-none" href="#">
                          <img
                            class="size-5"
                            alt=""
                            src="{% static 'images/exchange-logo/binance.svg' %}"
                          />
                          <span class="grow">바이낸스 (오픈 예정)</span>
                        </a>
                      {% else %}
                        <a class="sidebar-menu-item" href="#">
                          <span class="grow">🚀 거래소 연동하러 가기</span>
                        </a>
                      {% endif %}
                  </div>
                </div>
                <a class="sidebar-menu-item" href="./landing.html">
                  <span class="iconify lucide--pie-chart size-4"></span>
                  보유 코인 분석
                </a>
                <a class="sidebar-menu-item" href="./landing.html">
                  <span class="iconify lucide--line-chart size-4"></span>
                  수익률 분석
                </a>                
                <!--포트폴리오 end-->
                
                <!--거래 내역 start-->
                <p class="sidebar-menu-title">거래 내역</p>
                <a class="sidebar-menu-item" href="https://google.com" target="_blank">
                  <span class="iconify lucide--clipboard-list size-4"></span>
                  체결 내역
                </a>
                <a class="sidebar-menu-item" href="https://google.com" target="_blank">
                  <span class="iconify lucide--wallet size-4"></span>
                  입출금 내역
                </a>
                <!--거래 내역 end-->
                
                <!--시장 분석 start-->
                <p class="sidebar-menu-title">시장 분석</p>
                <a class="sidebar-menu-item" href="https://google.com" target="_blank">
                  <span class="iconify lucide--activity size-4"></span>
                  실시간 시세
                </a>
                <a class="sidebar-menu-item" href="https://google.com" target="_blank">
                  <span class="iconify lucide--flame size-4"></span>
                  트렌드 코인
                </a>
                <a class="sidebar-menu-item" href="https://google.com" target="_blank">
                  <span class="iconify lucide--trending-up size-4"></span>
                  일간 변동률
                </a>
                <a class="sidebar-menu-item" href="https://google.com" target="_blank">
                  <span class="iconify lucide--bar-chart-3 size-4"></span>
                  거래량 급등 코인
                </a>                
                <!--시장 분석 end-->
            </div>
        </div>
        <div
            class="from-base-100/60 pointer-events-none absolute start-0 end-0 bottom-0 h-7 bg-linear-to-t to-transparent"></div>
    </div>
    <div class="mb-2">
        <hr class="border-base-300" />
        <ul class="menu w-full">
            <li>
                <a href="./pages-settings.html" class="flex items-center gap-2">
                    <span class="iconify lucide--settings-2 size-4"></span>
                    설정
                    <div
                        class="border-primary/20 bg-primary/5 text-primary rounded-box ms-auto border px-1 text-[11px]">
                        New
                    </div>
                </a>
            </li>
            <li>
                <a href="./pages-get-help.html" class="flex items-center gap-2">
                    <span class="iconify lucide--circle-help size-4"></span>
                    거래소 연동
                    <div
                        class="border-primary/20 bg-primary/5 text-primary rounded-box ms-auto border px-1 text-[11px]">
                        New
                    </div>
                </a>
            </li>
        </ul>
        <div class="dropdown dropdown-top dropdown-end w-full">
            {% if user.is_authenticated %}
            <div
                tabindex="0"
                role="button"
                class="bg-base-200 hover:bg-base-300 rounded-box mx-2 mt-0 flex cursor-pointer items-center gap-2.5 px-3 py-2 transition-all">
                <div class="avatar">
                    <div class="bg-base-200 mask mask-squircle bg-base-200 w-8">
                      {% if user.avatar %}
                        <img alt="Avatar" src="{{ user.avatar.url }}" />
                      {% else %}
                        <img alt="Default Avatar" src="{% static 'images/profile/default_avatar.jpg' %}" />
                      {% endif %}
                    </div>
                </div>
                <div class="grow -space-y-0.5">
                    <p class="text-sm font-medium">{{ user.first_name }}</p>
                    <p class="text-base-content/60 text-xs">@{{ user.username }}</p>
                </div>
                <span class="iconify lucide--chevrons-up-down text-base-content/60 size-4"></span>
            </div>
            {% endif %}
            <ul
                role="menu"
                class="dropdown-content menu bg-base-100 rounded-box shadow-base-content/4 mb-1 w-48 p-1 shadow-[0px_-10px_40px_0px]"
                tabindex="0">
                <li>
                    <a href="./pages-settings.html">
                        <span class="iconify lucide--user size-4"></span>
                        <span>내 정보</span>
                    </a>
                </li>
                <li>
                    <a href="./pages-settings.html">
                        <span class="iconify lucide--settings size-4"></span>
                        <span>키 관리</span>
                    </a>
                </li>
                <li>
                    <a href="./pages-get-help.html">
                        <span class="iconify lucide--help-circle size-4"></span>
                        <span>고객센터 / 피드백</span>
                    </a>
                </li>
                <li>
                    <div>
                        <span class="iconify lucide--arrow-left-right size-4"></span>
                        <span>로그아웃</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<label for="layout-sidebar-toggle-trigger" id="layout-sidebar-backdrop"></label>
