{% load static %}
{% load i18n %}
{% load widget_tweaks %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="group/html">
  <head>
    <title>{% trans "갓코" %}{% block title %}{% endblock title %}</title>
    {% htmx_script %}
    {% include 'partials/_head.html' %}
    {% block css %}{% endblock css %}
  </head>
  <body>
    {% block content %}{% endblock content %}
    {% block javascript %}{% endblock javascript %}
    {% include 'partials/_footer.html' %}

    <!--토스트 메시지-->
    {% if messages %}
      {% for message in messages %}
        {% if forloop.last %}
          <div 
            x-data 
            x-init="setTimeout(() => $el.remove(), 1000)"
            class="toast fixed top-4 right-4 z-50"
          >
            <div class="alert alert-success">
              <span>{{ message }}</span>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </body>
</html>
