{% load static %}
{% load i18n %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" class="group/html">
  <head>
    <title>{% trans "갓코" %}{% block title %}{% endblock title %}</title>
    {% include 'partials/head.html' %}
    {% block css %}{% endblock css %}
    <script src="https://unpkg.com/htmx.org@latest"></script>
  </head>
  <body>
    <div id="main-content">
      {% block content %}{% endblock content %}
    </div>
    {% block javascript %}{% endblock javascript %}
    {% include 'partials/footer.html' %}
  </body>
</html>
